# ignore everything so the git repo can be cloned inside TSH/layout
*
# only include the "new" relevant files
!scoreboard-bloombagarre
!scoreboard-bloombagarre/*
!scoreboard-kandi
!scoreboard-kandi/*
!include
!include/InstrumentSans-Variable.ttf
!commentators
!commentators/kandi.*
!LICENSE
!.gitignore
!.github
!.github/*
