@font-face {
  font-family: "Instrument Sans";
  src: url("../include/InstrumentSans-Variable.ttf") format("truetype");
  font-weight: 400 900;
}

:root {
  --rouge-pns: #ff1b4c;
  --noir: #1b0015;
  --blanc: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text {
  transform-origin: left;
  white-space: nowrap;
}

body {
  font-family: "Instrument Sans";
  opacity: 0;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
  background-size: cover;
  background-color: var(--noir);
}

.players {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;

  left: 50%;
  top: 26px;
  position: absolute;
  transform: translateX(-50%);
}

.joueurs {
  display: flex;
  align-items: center;
  gap: 5px;

  overflow: hidden;
}

.phase-match {
  display: inline-flex;
  gap: 0.5ch;
  font-size: 14px;

  width: fit-content;
  background-color: var(--noir);
  color: var(--blanc);
  border-radius: 99px;
  padding: 10px 12px;
  text-transform: uppercase;
  font-weight: 600;
  font-variation-settings: "wdth" 80;
}

.player.container {
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: var(--rouge-pns);
  color: var(--blanc);
  /*border-radius: 10px;*/

  width: 300px;
  height: fit-content;
  padding: 0.5rem;
}

.p1 {
  border-radius: 99px 0 0 99px;
}

.p2 {
  border-radius: 0 99px 99px 0;
}

.player.container > div:not(.score) > .text:not(.text_empty) {
  margin-left: 4px;
  margin-right: 4px;
}

.name {
  display: flex;
  gap: 1ch;

  overflow: hidden;
  width: 100%;
  font-size: 19px;
  font-weight: 600;
  font-variation-settings: "wdth" 90;
}

.p1 .name {
  justify-content: flex-end;
}

.p2 .extra {
  flex-direction: row-reverse;
}

.extra .pronoun {
  width: 100%;
}

.flag {
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 32px;
  height: 24px;
}

.character_container {
  height: 100%;
  flex-shrink: 0;
  height: 24px;
  width: 24px;
}

.character_container > .tsh_character > .tsh-center-image {
  overflow: hidden;
  background-size: 24px 24px;
  height: 24px;
  width: 24px;
}

.score {
  font-size: 40px;
  line-height: 0;
  flex-grow: 0;
  flex-shrink: 0;
  /*overflow: hidden;*/
}

.sponsor {
  color: var(--noir);
  font-size: 18px;
  font-weight: 700;
  font-variation-settings: "wdth" 80;
}

.losers {
  display: inline-grid;
  place-items: center;

  font-size: 16px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--noir);
}

/*.chips {
  display: flex;
  position: absolute;
  top: 112px;
  width: 500px;
  height: 24px;
  justify-content: right;
  align-content: center;
  overflow: hidden;
}

.chip {
  overflow: hidden;
  border-radius: calc(var(--border-radius) / 2);
}

.p1.chips {
  left: 380px;
}

.p2.chips {
  flex-direction: row-reverse;
  left: 1040px;
  justify-content: left;
}

.chip .text:not(.text_empty) {
  margin-left: 4px;
  margin-right: 4px;
  height: 24px;
  font-size: 18px;
  padding-left: 12px;
  padding-right: 12px;
  background: var(--bg-color);
  color: var(--text-color);
  border-radius: calc(var(--border-radius) / 4);
  min-width: unset;
  padding-left: 8px;
  padding-right: 8px;
}

.flagcountry,
.flagstate {
  display: flex;
  justify-content: center;
}

.flagstate .text,
.flagcountry .text {
  display: flex;
  gap: 8px;
  overflow: hidden;
}

.p2 .flagstate .text,
.p2 .flagcountry .text {
  flex-direction: row-reverse;
}

.ssbu .p2 .flagstate .text,
.ssbu .p2 .flagcountry .text,
.roa2 .p2 .flagstate .text,
.roa2 .p2 .flagcountry .text,
.nasb2 .p2 .flagstate .text,
.nasb2 .p2 .flagcountry .text {
  flex-direction: row;
  padding-left: 0 !important;
}

.ssbu .p1 .flagstate .text,
.ssbu .p1 .flagcountry .text,
.roa2 .p1 .flagstate .text,
.roa2 .p1 .flagcountry .text,
.nasb2 .p1 .flagstate .text,
.nasb2 .p1 .flagcountry .text,
.nasb2 .p1 .flagstate .text,
.nasb2 .p1 .flagcountry .text {
  padding-right: 0 !important;
}

.ssbu .p1 .flagstate .text,
.ssbu .p1 .flagcountry .text,
.roa2 .p1 .flagstate .text,
.roa2 .p1 .flagcountry .text,
.nasb2 .p1 .flagstate .text,
.nasb2 .p1 .flagcountry .text {
  flex-direction: row-reverse;
}*/

/*.p1 .sponsor {
  color: var(--p1-sponsor-color);
}*/

/*.p2 .sponsor {
  color: var(--p2-sponsor-color);
}*/
